<h1>{{toUpper titulo}}</h1>
<img src="/img/game.png" alt="game_t-rex" width="1036" height="585">
<p>O jogo T-Rex do Chrome, também conhecido como "T-Rex Runner" ou "Chrome Dino Game", 
    é um jogo simples e divertido embutido no navegador Google Chrome. 
    Ele é acessível quando o navegador detecta uma falta de conexão com a internet.</p>

<p>O T-Rex do Chrome é apreciado por sua simplicidade, jogabilidade fácil e é uma forma divertida de passar 
    o tempo enquanto se aguarda a restauração da conexão com a internet. É um jogo casual que se tornou 
    icônico entre os usuários do Google Chrome e cativou muitos jogadores de todas as idades.</p>
