<h1>{{titulo}}</h1>

<h4>Click no Jogo e aperte espaço para começar!</h4>

<p>O T-Rex do Chrome é apreciado por sua simplicidade, jogabilidade fácil e é uma forma divertida de passar 
    o tempo enquanto se aguarda a restauração da conexão com a internet. É um jogo casual que se tornou 
    icônico entre os usuários do Google Chrome e cativou muitos jogadores de todas as idades.</p>


<iframe src="/gamecontent" width="94%" height="400"></iframe>
